# Convert to LF
* text eol=lf

# Binary
*.wav binary
*.mp3 binary

# Custom for Visual Studio
*.cs     diff=csharp

# Standard to msysgit
*.doc	 diff=astextplain
*.DOC	 diff=astextplain
*.docx diff=astextplain
*.DOCX diff=astextplain
*.dot  diff=astextplain
*.DOT  diff=astextplain
*.pdf  diff=astextplain
*.PDF	 diff=astextplain
*.rtf	 diff=astextplain
*.RTF	 diff=astextplain

# Don't export git files in the archive
.gitattributes export-ignore
.gitignore export-ignore
README.md export-ignore
license.txt export-ignore

# Don't export high_dpi/**
eternals_high_dpi/** export-ignore
