body {
	background-color: #ffffff;
	padding: 50px;
	font: 14px/1.5 Helvetica, Arial, sans-serif;
	color: #727272;
	font-weight: 400;
}

h1, h2 {
	color: #000000;
	margin: 0 0 10px;
}

h3, h4, h5, h6  {
	color: #696969;
	margin: 0 0 5px;
}

p, ul, ol, table, pre, dl {
	margin: 0 0 20px;
}

h1, h2 {
	line-height: 1.1;
}

h1 {
	font-size: 28px;
}

a {
	color: #39c;
	text-decoration: none;
}

a:hover {
	color: #069;
}

a small {
	font-size: 11px;
	color: #777;
	margin-top: -0.3em;
	display: block;
}

a:hover small {
	color: #777;
}

#screenshots {
	color: #39c;
}

#screenshots:hover {
	cursor: pointer;
	color: #069;
}

.wrapper {
	width: 860px;
	margin: 0 auto;
}

code, pre {
	font-family: "Courier New", Courier, monospace;
	color: #000000;
	font-size: 12px;
	white-space: pre-wrap;
}

pre {
	padding: 8px 15px;
	background: #f8f8f8;
	border-radius: 5px;
	border: 1px solid #e5e5e5;
	overflow-x: auto;
}

img {
	max-width: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;
	background: #000000;
	border-radius:8px;
	border: 2px solid #000000;
	box-shadow: 2px 2px 4px rgba(0, 0, 0, .4);
}

header {
	width: 270px;
	float: left;
	position: fixed;
	-webkit-font-smoothing: subpixel-antialiased;
}

header ul {
	list-style: none;
	height: 40px;
	padding: 0;
	background: #f4f4f4;
	border-radius: 5px;
	border: 1px solid #989898;
	width: 270px;
	box-shadow: 4px 4px 8px rgba(0, 0, 0, .2);
}

header li {
	width: 89px;
	float: left;
	border-right: 1px solid #e0e0e0;
	height: 40px;
}

header li:first-child a {
	border-radius: 5px 0 0 5px;
}

header li:last-child a {
	border-radius: 0 5px 5px 0;
}

header ul a {
	line-height: 1;
	font-size: 11px;
	color: #999;
	display: block;
	text-align: center;
	padding-top: 6px;
	height: 34px;
}

header ul:hover {
	box-shadow: 4px 4px 2px rgba(0, 0, 0, .2);
}

header ul a:hover {
	color: #222;
}

header ul a:active {
	background-color: #f0f0f0;
}

strong {
	color: #222;
	font-weight: 700;
}

header ul li + li + li {
	border-right: none;
	width: 89px;
}

header ul a strong {
	font-size: 14px;
	display: block;
	color: #222;
}

section {
	width: 500px;
	float: right;
	padding-bottom: 50px;
}

section p {
	margin-top: 1em;
	margin-bottom: 1em;
	text-indent: 2em;
	line-height: 160%;
}

section h2 {
	text-align: center;
}

small {
	font-size: 11px;
}

hr {
	border: 0;
	background: #e5e5e5;
	height: 1px;
	margin: 0 0 20px;
}

footer {
	width: 270px;
	float: left;
	position: fixed;
	bottom: 50px;
	-webkit-font-smoothing: subpixel-antialiased;
}

.content p {
	text-indent: 0;
}

.content img {
	border-color: #393939;
}

.changelog-back:hover {
	cursor: pointer;
}

.changelog-back p {
	display: inline-block;
	text-indent: 0;
}

.changelog-back img {
	display: inline-block;
	max-height: 12px;
	max-width: 12px;
	background: #fff;
	border: none;
	box-shadow: none;
}

.changelog-back pre {
	display: none;
}

.modal-back {
	display: none;
	position: fixed;
	z-index: 1;
	left: 0;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, .8);
}

.modal-back img {
	background-color: rgba(0, 0, 0, 0);
	border-radius: 0;
	border: none;
	box-shadow: none;
}

.modal-image-back {
	display: inline-block;
	position: relative;
	padding: 20px;
	margin-top: 5%;
}

#modal-image {
	max-width: 80%;
	max-height: 80%;
}

.modal-close-button {
	position: absolute;
	width: 100%;
	height: 10%;
	top: 0;
	right: 0;
}

#modal-close {
	position: absolute;
	top: 10%;
	right: 10%;
	width: 40px;
	height: 40px;
}

.modal-previous-button, .modal-next-button {
	position: absolute;
	width: 10%;
	height: 100%;
	top: 40%;
}

.modal-previous-button {
	left: 5%;
}

.modal-next-button {
	right: 5%;
}

#modal-previous {
	transform: rotate(90deg);
}

#modal-next {
	transform: rotate(-90deg);
}

#modal-close, #modal-previous, #modal-next {
	cursor: pointer;
	opacity: .2;
}

#modal-close:hover, #modal-previous:hover, #modal-next:hover {
	opacity: .8;
}

@media print, screen and (max-width: 960px) {

	div.wrapper {
		width: auto;
		margin: 0;
	}

	header, section, footer {
		float: none;
		position: static;
		width: auto;
	}

	header {
		padding-right: 320px;
	}

	section {
		border: 1px solid #e5e5e5;
		border-width: 1px 0;
		padding: 20px 0;
		margin: 0 0 20px;
	}
  
	header a small {
		display: inline;
	}

	header ul {
		position: absolute;
		right: 50px;
		top: 52px;
	}
}

@media print, screen and (max-width: 720px) {
	body {
		word-wrap: break-word;
	}

	header {
		padding: 0;
	}

	header ul, header p.view {
		position: static;
	}

	pre, code {
		word-wrap: normal;
	}
}

@media print, screen and (max-width: 480px) {
	body {
		padding: 15px;
	}

	header ul {
		width: 99%;
	}

	header li, header ul li + li + li {
		width: 33%;
	}
}

@media print {
	body {
		padding: 0.4in;
		font-size: 12pt;
		color: #444;
	}
}
